html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.player-hand {
    height: 150px;
    background-color: lightskyblue;
}
.board {
    flex-grow: 1;
    background-color: lightblue;
}

.deck {
    position: absolute;
    transform: translate(-50%, -50%) scale(.5);
}
.deck-card-back {
    position: absolute;
    transform: translate(-50%, -50%) translate(-5px, 5px);
    padding-left: 10px;
    padding-bottom: 10px;
    border: 5px solid black;
    border-radius: 11px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    background-color: black;
}
.red-tint::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    mix-blend-mode: multiply;
}

.game-card {
    position: absolute;
    transform: translate(-50%, -50%) scale(.5);
    z-index: 1;
}
.game-card:hover {
    z-index: 20;
}
.card-front {
    transform: translate(-50%, -50%);
    border: 3px solid black;
    border-radius: 11px;
    background-color: black;
    overflow: hidden;
    position: absolute;
}
.card-back {
    transform: translate(-50%, -50%);
    border: 3px solid black;
    border-radius: 11px;
    background-color: black;
    overflow: hidden;
    position: absolute;
}

.game-card-tooltip {
    border: 3px solid black;
    border-radius: 11px;
    background-color: black;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    transform: scale(3.1415) translate(-30px, -230px) var(--force-in-view);
    
    z-index: 3099;
}

.game-card:hover .game-card-tooltip {
    visibility: visible;
}

.hidden {
    display: none;
}
.flipped>:not(.hidden) {
    display: none;
}
.flipped>.hidden {
    display: block;
}
.flipped>.card-front.hidden~.game-card-tooltip:not(.hidden) {
    display: block;
}

.game-card.rotated {
    transform: translate(-50%, -50%) scale(.5) rotate(90deg);
}
.rotated .game-card-tooltip {
    transform: rotate(-90deg) scale(3.1415) translate(45px, -210px) var(--force-in-view);
}

.token {
    position: absolute;
    z-index: 20;
    display: block !important;
}
.game-card>.token {
    transform: scale(2) translate(50%, 50%);
}
.game-card.rotated>.token {
    transform: rotate(-90deg) scale(2) translate(50%, 50%);
}
.token:hover {
    z-index: 25;
}
.token-bin {
    border: 1px lightgrey dashed;
    border-radius: 15px;
    border-width: 3px;
    color: lightgrey;
}
.token-bin-active {
    color: red;
    border-color: red;
}

.game-card[data-location="hand"]:not([data-hover-location="hand"])>* {
    box-shadow:
        0 0 5px rgba(165, 255, 47, 0.5),
        0 0 10px rgba(165, 255, 47, 0.5),
        0 0 20px rgba(165, 255, 47, 0.5),
        0 0 30px rgba(165, 255, 47, 0.5),
        0 0 40px rgba(165, 255, 47, 0.5);
}
.game-card:not([data-location="hand"])[data-hover-location="hand"]>* {
    box-shadow:
        0 0 5px rgba(255, 165, 0, 0.5),
        0 0 10px rgba(255, 165, 0, 0.5),
        0 0 20px rgba(255, 165, 0, 0.5),
        0 0 30px rgba(255, 165, 0, 0.5),
        0 0 40px rgba(255, 165, 0, 0.5);
}
.game-card:not([data-location="deck"])[data-hover-location="deck"]>* {
    box-shadow:
        0 0 5px rgba(0, 191, 255, 0.5),
        0 0 10px rgb(0, 191, 255, 0.5),
        0 0 20px rgba(0, 191, 255, 0.5),
        0 0 30px rgba(0, 191, 255, 0.5),
        0 0 40px rgba(0, 191, 255, 0.5);
}

.game-card[data-location="board"]>* {
    animation: glow-impulse 1s normal;
}

@keyframes glow-impulse {
    0% {
        box-shadow:
        0 0 5px rgba(255, 255, 255, 0),
        0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0),
        0 0 30px rgba(255, 255, 255, 0),
        0 0 40px rgba(255, 255, 255, 0);
    }
    5% {
        box-shadow:
        0 0 5px rgba(255, 255, 255, 1),
        0 0 10px rgba(255, 255, 255, 1),
        0 0 20px rgba(255, 255, 255, 1),
        0 0 30px rgba(255, 255, 255, 1),
        0 0 40px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow:
        0 0 5px rgba(255, 255, 255, 0),
        0 0 10px rgba(255, 255, 255, 0),
        0 0 20px rgba(255, 255, 255, 0),
        0 0 30px rgba(255, 255, 255, 0),
        0 0 40px rgba(255, 255, 255, 0);
    }
}

:root {
    --force-in-view: translate(0px, 0px);
}

.force-in-view {
    --force-in-view: translate(0px, 375px);
}

.grid-container {
    width: 100%;
    height: 100vh;
    background-image: 
        linear-gradient(to right, lightgray 1px, transparent 1px),
        linear-gradient(to bottom, lightgray 1px, transparent 1px);
    background-size: 25px 25px;
}