@import "./deck.css";
@import "./card.css";
@import "./cardActions.css";
@import "./token.css";

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.player-hand {
    height: 150px;
    background-color: lightskyblue;
}
.board {
    flex-grow: 1;
    background-color: lightblue;
}

:root {
    --force-in-view: translate(0px, 0px);
}

.force-in-view {
    --force-in-view: translate(0px, 375px);
}

.grid-container {
    width: 100%;
    height: 100vh;
    background-image: 
        linear-gradient(to right, lightgray 1px, transparent 1px),
        linear-gradient(to bottom, lightgray 1px, transparent 1px);
    background-size: 25px 25px;
}