.token {
    position: absolute;
    z-index: 20;
    display: block !important;
}
.game-card>.token {
    transform: scale(2) translate(50%, 50%);
}
.game-card.rotated>.token {
    transform: rotate(-90deg) scale(2) translate(50%, 50%);
}
.token:hover {
    z-index: 25;
}
.token-bin {
    background-color: white;
    border: 1px lightgrey dashed;
    border-radius: 15px;
    border-width: 3px;
    color: lightgrey;
}
.token-bin-active {
    color: red;
    border-color: red;
}
